# Unpaired t-test with Welch's correction

Christophe, Kinga, Michael

# General setting
We measure the same attribute for two different populations.

# Question
Are the means of this attribute in the two population equal?

# Identification of the test on our map

<img src="Test.png"
     alt=""
     style="float: left; margin-right: 10px;" />

# Conditions 

<img src="Conditions.png"
     alt=""
     style="float: left; margin-right: 10px;" />

# Import Library and Reading the data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('dataN.csv',names=['class','patient','cr_17.OH.pregnanolone_24h'])

In [3]:
df.head()

     class  patient  cr_17.OH.pregnanolone_24h
0  disease  PCOS001                 146.691151
1  disease  PCOS035                 117.280335
2  disease  PCOS036                  64.837096
3  disease  PCOS002                 161.947353
4  disease  PCOS003                 162.043287