# Unpaired t-test with Welch's correction

Christophe, Kinga, Michael

# General setting
We measure the same attribute for two different populations.

# Question
Are the means of this attribute in the two population equal?

# Identification of the test on our map

<img src="Test.png"
     alt=""
     style="float: left; margin-right: 10px;" />

# Conditions 

<img src="Conditions.png"
     alt=""
     style="float: left; margin-right: 10px;" />

# Import Library and Reading the data

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

In [51]:
df = pd.read_csv('dataN.csv',names=['class','patient','cr_17.OH.pregnanolone_24h'])

In [52]:
df.head()

     class  patient  cr_17.OH.pregnanolone_24h
0  disease  PCOS001                 146.691151
1  disease  PCOS035                 117.280335
2  disease  PCOS036                  64.837096
3  disease  PCOS002                 161.947353
4  disease  PCOS003                 162.043287

In [53]:
df.tail()

         class    patient  cr_17.OH.pregnanolone_24h
100  nodisease  PND340624                  45.705613
101  nodisease  PND340643                 384.472204
102  nodisease  PND340683                 177.791561
103  nodisease  PND340684                  80.171626
104  nodisease  PND340743                  77.065237

In [55]:
df_nodisease = df[df['class'] == 'nodisease']
dfnd_pregna = df_nodisease['cr_17.OH.pregnanolone_24h']
dfnd_pregna.head()
dfnd_pregna.describe()

count     64.000000
mean     136.905895
std      124.402177
min       20.825255
25%       59.886676
50%       88.327809
75%      177.871160
max      635.087369
Name: cr_17.OH.pregnanolone_24h, dtype: float64

In [58]:
dfnd_pregna.head()

41     88.541267
42     92.192277
43    310.402234
44    102.573330
45     40.414350
Name: cr_17.OH.pregnanolone_24h, dtype: float64

In [56]:
df_disease = df[df['class'] == 'disease']
dfd_pregna = df_disease['cr_17.OH.pregnanolone_24h']
dfd_pregna.head()
dfd_pregna.describe()

count     41.000000
mean     122.605649
std      127.646886
min        3.269393
25%       62.847783
50%      108.965596
75%      144.687036
max      845.609448
Name: cr_17.OH.pregnanolone_24h, dtype: float64

In [59]:
dfd_pregna.head()

0    146.691151
1    117.280335
2     64.837096
3    161.947353
4    162.043287
Name: cr_17.OH.pregnanolone_24h, dtype: float64

In [60]:
k2, p = stats.normaltest(dfd_pregna)
print("p-value = %1.4f" % p)

p-value = 0.0000

In [61]:
k2, p = stats.normaltest(dfnd_pregna)
print("p-value = %1.4f" % p)

p-value = 0.0000

In [62]:
s,p = stats.shapiro(dfd_pregna)
print('Test statistic = ',s,' p-value =',p)

Test statistic =  0.5282034873962402  p-value = 2.7100799382395735e-10

In [63]:
s,p = stats.shapiro(dfnd_pregna)
print('Test statistic = ',s,' p-value =',p)

Test statistic =  0.7730597853660583  p-value = 1.4449578422670584e-08

both samples doesn't look normal

In [64]:
stats.ttest_ind(dfnd_pregna,dfd_pregna, equal_var = False) # False means we don't assume equal variances (Welsch's t-test)

Ttest_indResult(statistic=0.5656120851531903, pvalue=0.5731690521602905)

In [65]:
print("%1.2f %1.2f" % (dfd_pregna.mean(), dfnd_pregna.mean()))

122.61 136.91

**Interpretation :** It seems that these samples would come from a population with the same mean. The sample means were: