# Unpaired t-test with Welch's correction

Christophe, Kinga, Michael

# General setting
We measure the same attribute for two different populations.

# Question
Are the means of this attribute in the two population equal?

# Identification of the test on our map

<img src="Test.png"
     alt=""
     style="float: left; margin-right: 10px;" />

# Conditions 

<img src="Conditions.png"
     alt=""
     style="float: left; margin-right: 10px;" />

# Import Library and Reading the data

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

In [22]:
df = pd.read_csv('dataN.csv',names=['class','patient','cr_17.OH.pregnanolone_24h'])

In [45]:
df.head()

     class  patient  cr_17.OH.pregnanolone_24h
0  disease  PCOS001                 146.691151
1  disease  PCOS035                 117.280335
2  disease  PCOS036                  64.837096
3  disease  PCOS002                 161.947353
4  disease  PCOS003                 162.043287

In [46]:
df.tail()

         class patient  cr_17.OH.pregnanolone_24h
100  nodisease  340624                  45.705613
101  nodisease  340643                 384.472204
102  nodisease  340683                 177.791561
103  nodisease  340684                  80.171626
104  nodisease  340743                  77.065237

In [49]:
df_nodisease = df[df['class'] == 'nodisease']
dfnd_pregna = df_disease['cr_17.OH.pregnanolone_24h']
dfnd_pregna.head()
dfnd_pregna.describe()

count     41.000000
mean     122.605649
std      127.646886
min        3.269393
25%       62.847783
50%      108.965596
75%      144.687036
max      845.609448
Name: cr_17.OH.pregnanolone_24h, dtype: float64

In [50]:
dfnd_pregna.head()

0    146.691151
1    117.280335
2     64.837096
3    161.947353
4    162.043287
Name: cr_17.OH.pregnanolone_24h, dtype: float64

In [47]:
df_disease = df[df['class'] == 'disease']
dfd_pregna = df_disease['cr_17.OH.pregnanolone_24h']
dfd_pregna.head()
dfd_pregna.describe()

count     41.000000
mean     122.605649
std      127.646886
min        3.269393
25%       62.847783
50%      108.965596
75%      144.687036
max      845.609448
Name: cr_17.OH.pregnanolone_24h, dtype: float64

In [31]:
k2, p = stats.normaltest(dfd_pregna)
print("p-value = %1.4f" % p)

p-value = 0.0000

In [32]:
k2, p = stats.normaltest(dfnd_pregna)
print("p-value = %1.4f" % p)

p-value = 0.0000

In [33]:
s,p = stats.shapiro(dfd_pregna)
print('Test statistic = ',s,' p-value =',p)

Test statistic =  0.5282034873962402  p-value = 2.7100799382395735e-10

In [35]:
s,p = stats.shapiro(dfnd_pregna)
print('Test statistic = ',s,' p-value =',p)

Test statistic =  0.5282034873962402  p-value = 2.7100799382395735e-10

both samples doesn't look normal

In [38]:
stats.ttest_ind(dfnd_pregna,dfd_pregna, equal_var = False) # False means we don't assume equal variances (Welsch's t-test)

Ttest_indResult(statistic=0.0, pvalue=1.0)

In [42]:
print("%1.2f %1.2f" % (dfd_pregna.mean(), dfnd_pregna.mean()))

122.61 122.61